@import 'bootstrap';

// @import url(http://fonts.googleapis.com/css?family=Anaheim);
.jumbo{
  background-image: url('http://i66.tinypic.com/kf367r.jpg');
  background-image: no-repeat;
  background-size: cover;
  background-position: 100% 40%;
  font-family:'Raleway', sans-serif;

}
// *{
//   margin: 0;
//   padding: 0;
//   outline: none;
//   border: none;
//     box-sizing: border-box;
// }


// html,
// body{
// 	min-height: 50%;
// }

h1{
	display: table;
  font-weight: bold;
	margin: -0% auto 0;
	text-transform: uppercase;
	font-family: 'Concert One', sans-serif;
	font-size: 1em;
	font-weight: 100;
	// text-shadow: 0 1px white, 0 2px black;
  background: url('http://i66.tinypic.com/kf367r.jpg');
  background: no-repeat;
  background-size: cover;
}
.contain{
 	margin: 4% auto;
 	width: 210px;
 	height: 140px;
 	position: center;
perspective: 1000px;
}
#carousel{
	width: 100%;
	height: 100%;
	
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
}
#carousel:hover{
	animation-play-state: paused;
}
#carousel figure{
	display: block;
	position: absolute;
	width: 90%;
	height: 50%px;
	left: 10px;
	top: 10px;
	background: black;
	overflow: hidden;
	border: solid 5px black;
}
#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

img{
	
	cursor: pointer;
	transition: all .5s ease;
}


@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}



.ul {
    list-style: none;
    padding: 0;
}

a { 
    display: inline-block;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

/*------------------------------------------------------------------
                            SECTION STYLES
-------------------------------------------------------------------*/

section { 
    margin: 50px 0;
}

section ul {
    text-align: center;
}

section a {
    padding: 7px;
    color: black;
}

section a:not(:first-child) {
    margin-left: 20px;
}

section i {
    vertical-align: middle;
    transition: color .3s ease-in-out;  
}

section a:nth-child(1):hover i {
    color: #3B5998;
}

section a:nth-child(2):hover i {
    color: #4099FF;
}

section a:nth-child(3):hover i {
    color: #007bb6;
}

section a:nth-child(4):hover i {
    color: #ccc;
}

section a:nth-child(5):hover i {
    color: steelblue;
}

.p {
  text-align: center;
  margin-top: 120px;
  font-weight: 600;
}



body {
  padding-top: 20px;
}

html {
  overflow-y: scroll;
}

.library-item {
  min-height: 150px;
}

galbody {
  text-align: center;
  padding: 2em 0;
  background: #222;
}

  h1,
h2,
.tag {
  font-weight: 400;
  // text-transform: uppercase;
  font-family: 'Raleway', sans-serif;;
}

// h1 {
//   font-size: 2.5rem;
//   color: #5cd9fd;
//   margin-bottom: 0.25em;
//   line-height: 1em;
// }

h2 {
  color: #fff;
  transition: 0.3s;
}

.tag {
  font-size: 1.3rem;
  color: #eee;
  font-weight: normal;
  margin: 0 0 3em;
}

.projContainer {
  display: inline-block;
  vertical-align: top;
  // margin-right: -5px;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: 340px;
  height: 228px;
  cursor: pointer;
}

.projContainer img {
transition: 0.3s;
}

.projContainer:hover img {
 transform: scale(1.2);
 -webkit-transform: scale(1.2);
}

.projContainer:hover h2 {
    padding-top: 10%;
}

.projInfoContainer {
  position: absolute;
  background: rgba(5,5,5,0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
  transition: 0.2s;
}

.projContainer:hover .projInfoContainer {
  opacity: 1;
}

.projCat {
  color: #5cd9fd;
  font-weight: bold;
}

.projSpec {
 color: #aaa;
 font-family: sans-serif;
}
/*just code for fun*/
#totalbase{
	position: absolute;
	height: 10px;
	width:10px;
	top:50%;
	left:50%;
background-color:blue;
	-webkit-transform-style: preserve-3d;
	-webkit-perspective:5000px;
	-webkit-transform-origin: 0 0 ;
	-webkit-transform: rotateX(60deg) rotateZ(45deg) translate(-50%,-50%);

	
}


#talkbubble {
   width: 120px;
   height: 90px;
   background: #D3D3D3;
   position: absolute;
   font-family: 'Courgette', cursive;
  font-size:18px;
   border-radius:10px;
   top:50%;left:50%;
   -webkit-transform:translate(-50%,-50%) rotateX(-90deg) rotateY(45deg) translateY(-370px);
}
#talkbubble:before {
   content:"";
   position: absolute;
   left:47px;
   bottom: -26px;
   width: 0;
   height: 0;
   border-right: 13px solid transparent;
   border-top: 26px solid #D3D3D3;
   border-left: 13px solid transparent;
}

#animbase{
	-webkit-transform-style: preserve-3d;
	position: absolute;
	height: 700px;
	width:10px;
	top:50%;
	left:50%;

-webkit-animation: anima 8s infinite linear;

	-webkit-transform-origin: 0 0% ;
}
#base {
	position: absolute;
	height: 10px;
	width:10px;
	top:0;
	left:50%;
background-color:blue;
	-webkit-transform-style: preserve-3d;
	
	-webkit-transform-origin: 0 0 ;
	-webkit-transform: translate(-50%,-50%) rotateZ(90deg);

	
}
#baseshadow {
	position: absolute;
	height: 10px;
	width:25px;
	top:50%;
	left:50%;
background-color:#D3D3D3;
	-webkit-transform-style: preserve-3d;
	box-shadow:0 0 140px 27px gray;
	-webkit-transform-origin: 0 0 ;
	-webkit-transform:  rotateZ(90deg) translateZ(-150px);

	
}

@-webkit-keyframes anima {
	0%{-webkit-transform: rotateZ(0deg) translate(-50%,-50%)  ;}
	100%{-webkit-transform:  rotateZ(360deg) translate(-50%,-50%) ;}
}

.helitop{
	-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 39px;
	width: 39px;
	left:50%;top:50%;
	background-color:white;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) rotateX(0deg) translateZ(20px);
}

.helifront{
	-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 39px;
	width: 39px;
	left:50%;top:50%;
	background-color:white;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) rotateX(90deg) translateZ(-20px);
}



.heliback{-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 39px;
	width: 39px;
	left:50%;top:50%;
	
	-webkit-transform:translate(-50%,-50%) rotateX(90deg) translateZ(20px);
}
.front1{-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 19px;
	width: 39px;
	left:50%;top:50%;
	background-color:#f0f0f0;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%)  translateZ(18px);
}
.front2{
	position: absolute;
	height: 19px;
	width: 39px;
	left:50%;top:50%;
	background-color:#f0f0f0;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) rotateX(60deg) translateZ(18px);
}
.front3{
	position: absolute;
	height: 19px;
	width: 39px;
	left:50%;top:50%;
	background-color:#f0f0f0;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) rotateX(-60deg) translateZ(18px);
}
.front4{

	border-top: 18px solid #f0f0f0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	height: 0;
	width: 20px;
	
	left:50%;top:50%;
		-webkit-transform:translate(-50%,-50%) rotateY(90deg) rotateZ(90deg) translateZ(0px) translateX(19px) translateY(50%);
}
.front5{

	border-top: 18px solid#f0f0f0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	height: 0;
	width: 20px;
	
	left:50%;top:50%;
		-webkit-transform:translate(-50%,-50%) rotateY(90deg) rotateZ(90deg) translateZ(39px) translateX(1px) translateY(50%);
}

.helileft{
	position: absolute;
	height: 39px;
	width: 39px;
	left:50%;top:50%;
	background-color:white;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) rotateY(90deg) translateZ(-20px);
}

.heliright{
	position: absolute;
	height: 39px;
	width: 39px;
	left:50%;top:50%;
	background-color:white;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) rotateY(90deg) translateZ(20px);
}
.helibottom{
	position: absolute;
	height: 39px;
	width: 39px;
	left:50%;top:50%;
	background-color:white;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%)  translateZ(-20px);
}

.wingbase {
		-webkit-transform-style:preserve-3d;
	position: absolute;
	height:10px;
	width:10px;
	bottom:00%; left:50%;
	background:white;
	-webkit-transform-origin:0 0;
	-webkit-transform: translate(-50%,-50%);
	-webkit-animation: anim 0.5s infinite linear;
}

@-webkit-keyframes anim {
	0%{-webkit-transform: rotateZ(0deg) translate(-50%,-50%)   ;}
	100%{-webkit-transform:  rotateZ(360deg) translate(-50%,-50%)  ;}
}
.wing1{z-index:10;
	position: absolute;
	height: 4px;
	width:100px;
	left:50%;top:50%;
	background-color:#000000;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) translateX(50%) translateZ(25px) rotateX(10deg);

}
.wing2{z-index:10;
	position: absolute;
	height: 4px;
	width:100px;
	left:50%;top:50%;
	background-color:black;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) translateX(-50%) translateZ(25px) rotateX(-10deg);

}
.col1{
	position: absolute;
	height: 25px;
	width: 4px;
	left:50%;top:50%;
	background-color:white;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) rotateX(90deg) translateY(50%) translateZ(3px) ;
}
	
.col2{
	position: absolute;
	height: 25px;
	width: 4px;
	left:50%;top:50%;
	background-color:white;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) rotateX(90deg)  translateY(50%) translateZ(-3px) ;
}

.col3{
	position: absolute;
	height: 25px;
	width: 4px;
	left:50%;top:50%;
	background-color:white;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) rotateX(90deg) rotateY(90deg) translateY(50%) translateZ(-3px) ;
}
.col4{
	position: absolute;
	height: 25px;
	width: 4px;
	left:50%;top:50%;
	background-color:white;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) rotateX(90deg) rotateY(90deg) translateY(50%) translateZ(3px) ;
}

.tailbase{
	-webkit-transform-style:preserve-3d;
	position:absolute;
	height:10px;
	width: 10px;
	
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	
}

.tail1{-webkit-transform-style:preserve-3d;
		position:absolute;
	height:8px;
	width: 8px;
	border:1px solid black;
	background-color:white;
	top:0;
	left:50%;
	-webkit-transform:translate(-50%,100%) translateZ(-100px);
}
.tail21{
	-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 100px;
	width:8px;
	top:50%;
	left:50%;
	background:white;
	border:1px solid black;
	-webkit-transform: translate(-50%,-50%) rotateX(90deg) translateY(50%) translateZ(5px);
}

.tail22{
	-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 100px;
	width:8px;
	top:50%;
	left:50%;
	background:white;
	border:1px solid black;
	-webkit-transform: translate(-50%,-50%) rotateX(90deg) translateY(50%) translateZ(-5px);
}

.tail23{
	-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 100px;
	width:8px;
	top:50%;
	left:50%;
	background:white;
	border:1px solid black;
	-webkit-transform: translate(-50%,-50%) rotateZ(90deg) rotateX(90deg) translateY(50%) translateZ(5px);
}

.tail24{
	-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 100px;
	width:8px;
	top:50%;
	left:50%;
	background:white;
	border:1px solid black;
	-webkit-transform: translate(-50%,-50%) rotateZ(90deg) rotateX(90deg) translateY(50%) translateZ(-5px);
}

.tail25{-webkit-transform-style:preserve-3d;
	position: absolute;
	height:14px;
	width: 14px;
	top: 50%;
	left:50%;
	
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-top:10px solid black;
	border-bottom:10px solid transparent;
	-webkit-transform: translate(-50%,-11px) rotateY(90deg) rotateZ(45deg) translateZ(-5px);
}

.tail26{-webkit-transform-style:preserve-3d;
	position: absolute;
	height:14px;
	width: 14px;
	top: 50%;
	left:50%;
	
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-top:10px solid black;
	border-bottom:10px solid transparent;
	-webkit-transform: translate(-50%,-11px) rotateY(90deg) rotateZ(45deg) translateZ(5px);
}

.tailwingbase{-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 10px;
	width: 10px;
	left:50%;
	top:0%;
	-webkit-animation:animb 0.3s infinite linear;
	-webkit-transform:translate(-50%,0) rotateX(180deg);
}

@-webkit-keyframes animb {
	0%{-webkit-transform:translate(-50%,0) rotateX(180deg) rotateZ(0deg);}
	100%{-webkit-transform:translate(-50%,0) rotateX(180deg) rotateZ(-360deg);}
}


.tail221{
	-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 3px;
	width:3px;
	top:50%;
	left:50%;
	background:white;
	border:1px solid black;
	-webkit-transform: translate(-50%,-50%) rotateX(90deg) translateY(50%) translateZ(2px);
}

.tail222{
	-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 3px;
	width:3px;
	top:50%;
	left:50%;
	background:white;
	border:1px solid black;
	-webkit-transform: translate(-50%,-50%) rotateX(90deg) translateY(50%) translateZ(-2px);
}

.tail223{
	-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 3px;
	width:3px;
	top:50%;
	left:50%;
	background:white;
	border:1px solid black;
	-webkit-transform: translate(-50%,-50%) rotateZ(90deg) rotateX(90deg) translateY(50%) translateZ(2px);
}

.tail224{
	-webkit-transform-style:preserve-3d;
	position: absolute;
	height:3px;
	width:3px;
	top:50%;
	left:50%;
	background:white;
	border:1px solid black;
	-webkit-transform: translate(-50%,-50%) rotateZ(90deg) rotateX(90deg) translateY(50%) translateZ(-2px);
}
.tailwing1{
	position: absolute;
	height: 2px;
	width:15px;
	left:50%;top:50%;
	background-color:#000000;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) translateX(50%) translateZ(5px) rotateX(30deg);

}
.tailwing2{
	position: absolute;
	height: 2px;
	width:15px;
	left:50%;top:50%;
	background-color:black;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) translateX(-50%) translateZ(5px) rotateX(-30deg);

}

#towerbase{
	
	// position: absolute;
	height: 40px;
	width:40px;
	top:50%;
	left:50%;
background-color:blue;
box-shadow:0 0 60px 5px black;
	-webkit-transform-style: preserve-3d;
	
	-webkit-transform-origin: 0 0 ;
	-webkit-transform:  translate(-50%,-50%) translateZ(-150px);

	
}
.tower1left{
	position: absolute;
	height: 40px;
	width: 200px;
	left:50%;top:50%;
	background-color:white;

	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) rotateY(90deg) translateX(-50%) translateZ(20px);
}
.tower1right{
	position: absolute;
	height: 200px;
	width: 40px;
	left:50%;top:50%;
	background-color:white;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%) rotateX(90deg) translateY(50%) translateZ(-20px);
}
.tower1top{
	-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 80px;
	width: 80px;
	left:50%;top:50%;
	background-color:white;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%)  translateZ(240px) ;
}
.tower2top{
	-webkit-transform-style:preserve-3d;
	position: absolute;
	height: 80px;
	width: 80px;
	left:50%;top:50%;
	background-color:white;
	border: 1px solid black;
	-webkit-transform:translate(-50%,-50%)  translateZ(200px);
}
.tower2left{
	position: absolute;
	height: 78px;
	width: 22px;
	left:50%;top:50%;

	border-top:1px solid white;
	border-bottom: 1px solid white;
	border-left:10px solid white;
	border-right:10px solid white;
		outline:1px solid black;
	-webkit-transform:translate(-10px,-50%) rotateY(90deg)  translateX(-220px)  translateZ(30px);
}
.tower1window{
	position: absolute;
	height: 22px;
	width: 75px;
	left:50%;top:50%;
	background-color:#d3d3d3;
	opacity: 0.8;
	-webkit-transform:translate(-50%,-50%);
}
.tower2window{
	position: absolute;
	height: 75px;
	width: 22px;
	left:50%;top:50%;
	background-color:#d3d3d3;
	opacity: 0.8;
	-webkit-transform:translate(-50%,-50%);
}
.tower2right{
	position: absolute;
	height: 22px;
	width: 78px;
	left:50%;top:50%;
	
	border-top: 10px solid white;
	border-bottom: 10px solid white;
	border-left:1px solid white;
	border-right:1px solid white;
	
	outline:1px solid black;
	-webkit-transform:translate(-50%,-11px) rotateX(90deg) translateY(220px) translateZ(-30px);
}

.ember{
  color: black
}
.center {
    margin: auto;
    width: 50%;
   
    padding: 10px;
}

/* -------------------------------------------------------- reset */
@import url('https://fonts.googleapis.com/css?family=Audiowide|Monoton|Poiret+One|Raleway');
// body{
//   width: 100%;
//   margin: 0 auto;
//   font-family: 'Raleway', sans-serif;
//   color: #FFF;
//   font-size: 1.75vw;
// }
// body *{
//   width: 100%;
//   position: relative;
//   display: block;
//   margin: 0 auto;
//   padding: 0;
//   text-align: center;
//   z-index: 100;
// }
h1{
  font-size: 6vw;
  text-transform: uppercase;
  font-weight: normal;
}
a{
  color: inherit;
  text-decoration: none;
  outline: 0;
}
// ul,
// li{
//   list-style: none;
// }
label{
  cursor: pointer;
}
input{
  display: none;
}
/* -------------------------------------------------------- codepen */

/* -------------------------------------------------------- end codepen */
/* -------------------------------------------------------- footer */
.footer{
  width: 30%;
  margin: 5vw auto;
  text-align: center;
}
.footer p{
  font-family: 'Raleway', sans-serif;
  font-size: 1vw;
  color: #000;
  font-weight: normal;
  line-height: normal;
  text-transform: none;
  padding: 1vw;
}
.footer p span{
  display: block;
}
.footer a{
  display: inline;
  text-transform: uppercase;
  border-bottom: 0.1vw solid #000;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
html{height:100%; width:100%;}

body{
  height:100%;
  width:100%;
  background-image: -webkit-gradient(
    linear,
	  80 bottom,
	  left 60,
	  color-stop #00BFFF,
	  color-stop(0.57, rgb(66,110,110)));
  font-family:'lato';
  animation:bgfade 7s;
  -webkit-animation:bgfade 7s; /* Safari and Chrome */
  font-family: 'Open Sans', sans-serif;
}

.desc
{
  text-align: center;
  font-weight: normal;
  width: 100%;
  margin: 0px;
  visibility: hidden;
   color: white;
}

div:hover .desc {
  visibility:visible;
}
div.img img {max-width:100%;}
div.img{
  margin: 155px 5px 0px 0px;
  padding:5px;
  box-sizing:border-box;
  background: black;
  line-height:0px;
  height: auto;
  width: 20%;
  float: left;
  text-align: center;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease; 
  -o-transition:all 0.5s ease; 
  transition:all 0.5s ease;
  border-radius:4px;
}	
div:hover{line-height:30px;font-size:16px;}
div.img img
{
  display: inline-block;
  margin: 3px;
}

@keyframes bgfade
{
0%   {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes bgfade /* Safari and Chrome */
{
0%   {opacity:0;}
100% {opacity:1;}
}



