
<div class="hero-image">
  <div class="hero-text">
    <h1>I am John Doe</h1>
    <p>And I'm a Photographer</p>
    <button>Hire me</button>
  </div>
</div>
<br/><br/>



<div class=
<div class="jumbotron text-center">
  <h1>Who is Marquis Parks?</h1>

  <br/><br/>

  <p>A creative, engaging, full stack developer with a passion for front-end development and UI Design. Specializes in customer satisfaction through teamwork and maintains a commitment to exceed expectations. Actively pursuing opportunities to provide programming skills, leadership ability, and enthusiasm to a fast-paced environment as a Full Stack developer.  See lessSee less of undefined summary</p>

  
  
  <br/><br/>
  
  <br/><br/>
  <p>Contact Me.</p>

  <div class="form-horizontal form-group form-group-lg row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
      <input type="email" class="form-control" placeholder="Please type your e-mail address." autofocus="autofocus"/>
      
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3">
        <button class="btn btn-primary btn-lg btn-block">Holla at Ya Boy</button>
    </div>
  </div>
  <br/><br/>
</div>
<div align="center">
  This is some text!

<div class="container">
  <div class="card col-lg-4 col-md-4" style="width: 30rem;">
    <img class="card-img-top img-responsive" src="http://images.wisegeek.com/blank-index-cards.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title text-center">Card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary center-block">Go somewhere</a>
    </div>
  </div>
  
  
  <div class="col-lg-4 col-md-4"> 
  
  <div class="card col-lg-4 col-md-4" style="width: 30rem;">
    <img class="card-img-top img-responsive" src="http://images.wisegeek.com/blank-index-cards.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title text-center">Card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary center-block">Go somewhere</a>
    </div>
  </div>
  

  </div>
  </div>
  
</div>


<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/w3images/lights.jpg">
        <img src="/w3images/lights.jpg" alt="Lights" style="width:100%">
        <div class="caption">
          <p>Lorem ipsum...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/w3images/nature.jpg">
        <img src="/w3images/nature.jpg" alt="Nature" style="width:100%">
        <div class="caption">
          <p>Lorem ipsum...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/w3images/fjords.jpg">
        <img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/2842/s300/cc-logo-for-course-report.png" alt="Fjords" style="width:60%">
        <div class="caption">
          <p>Lorem ipsum...</p>
        </div>
      </a>
    </div>
  </div>
</div>
Try it Yourself »



         

<a href="https://www.linkedin.com/in/marquisparks">
  <i class="fa fa-linkedin fa-5x" aria-hidden="true"></i>
</a>
<a href="https://twitter.com/webdevmparks">
  <i class="fa fa-twitter fa-5x" aria-hidden="true"></i>
</a>
