  <div>
  <video controls autoplay>
    {{ivy-videojs src="./89d289b3fde6031d9961e804e13cf01f.mp4" type="application/x-mpegURL"}}


  Your browser does not support the video tag.
</video>
  </div>

  {{!--{{ivy-videojs src="./89d289b3fde6031d9961e804e13cf01f.mp4"}}--}}
  
 <script type="text/x-handlebars" data-template-name="application">
    <h2>Welcome to Ember.js</h2>

    {{outlet}}
  </script>

  <script type="text/x-handlebars" data-template-name="index">
      <ul>
      {{#each item in model}}
         {{#view App.YTVideoView contentBinding="item"}}
          {{/view}}
          
      {{/each}}
      </ul>
  </script>



