{{!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        {{#link-to 'index'}}<a href="">Home</a>{{/link-to}}
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>--}}

    <!-- Page Content -->
    

        <!-- Jumbotron Header -->
        <div class="jumbotron jumbo text-center">
            <h1>Mr. Parks</h1>
            <br/><br/>
            <p> I would best describe myself as a  creative, engaging, full stack developer with a passion for front-end development and UI Design. Specializes in customer satisfaction through teamwork and maintains a commitment to exceed expectations. Actively pursuing opportunities to provide programming skills, leadership ability, and enthusiasm to a fast-paced environment as a Full Stack developer.</p>
            {{!--<p><a class="btn btn-primary btn-large"></a>
            </p>--}}
        </div>

        <hr>

        <!-- Title -->
        {{!--<div class="row">
            <div class="col-lg-12">
                <h3>Latest Features</h3>
            </div>
        </div>--}}
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                   
                     <a href="https://www.freecodecamp.com/icodeyouso">
                  <img src="http://i64.tinypic.com/t9coe0.png" alt="">
                     </a>
                     
                       <img src="http://i63.tinypic.com/5d80b8.png">
                       
                    
                
                    
                      

                        {{!--<h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>--}}
                            {{!--<a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>--}}
                        {{!--</p>--}}
                    
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://i63.tinypic.com/ir6bmb.jpg" alt="">
                    <img src="http://i65.tinypic.com/2hoyd8p.png">
                    
                        
                    
                </div>
            </div>

            {{!--<div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>--}}

            {{!--<div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://i65.tinypic.com/1zmdrwg.jpg" alt="">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>--}}
        </div>
        <!-- just code for fun-->

        
        <!-- /.row -->
    
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
              

                <div class="col-lg-12">
                    <p>Copyright &copy; Marquis Parks 2017</p>
                </div>
            </div>
        </footer>

    
    <!-- /.container -->