



{{!--
<div class="projContainer text-center">
  <div class="projInfoContainer">
    <a href="http://marquisparks.com/calculator">
    <h2>JavaScript Calculator</h2>
    </a>
    <p class="projCat">Category</p>
    <p class="projSpec">This Project was Built with the Big 3 HTML, CSS, Javascript(including Jquery)<br />Be Sure to give it a try</p>
  </div>

  <img src="http://i64.tinypic.com/14l53cn.png" />
</div>


<div class="projContainer">
  <div class="projInfoContainer">
    <a href="http://marquisparks.com/simon">
    <h2>Simon Says</h2>
    </a>
    <p class="projCat"></p>
    <p class="projSpec">Play simon says<br /></p>
  </div>
  <a href="http://marquisparks.com/simon">
  <img src="http://i68.tinypic.com/sgo0o7.png" />
  
  </a>
</div>
</div>--}}
  
  
	<head>
		 <script src="//code.jquery.com/jquery-1.10.2.js"></script>
		{{!--<script src="js.js"></script>
		<link href="css.css" rel="stylesheet" type="text/css" />--}}
	</head>

      <div class="screen">
<div class="Bol"></div>
</div>
  
<div class="img" style="margin-left:10%;">
  <a target="_blank" href="http://marquisparks.com/calculator"><img src="http://i64.tinypic.com/14l53cn.png"alt="Klematis" width="110" height="90"/></a>
 <div class="desc"> Javascript calculator
   </div>
</div>
<div class="img">
  <a target="_blank" href="http://marquisparks.com/simon"><img src="http://i68.tinypic.com/sgo0o7.png" alt="Klematis" width="110" height="90"/></a>
 <div class="desc">Classic Simon</div>
</div>
<div class="img">
  <a target="_blank" href="http://marquisparks.com/boost"><img src="http://i66.tinypic.com/2ivoex5.png" alt="Klematis" width="110" height="90"/></a>
 <div class="desc">Play Boost</div>
</div>
<div class="img">
  <a target="_blank" href="http://marquisparks.com/pong"><img src="http://i63.tinypic.com/2s9u92a.png" alt="Klematis" width="110" height="90"/></a>
 <div class="desc">Classic Pong</div>
</div>


{{!--<div class="footer">
  <p>
    <span>Pure CSS Gallery Open & Close</span>
    <span>by <a href="https://codepen.io/panikaro/#" target="_blank">PaniKaro</a></span>
  </p>
  <p>
    <span>Works on Firefox, Chrome, IE and more.</span>
    <span>Include input, label.</span>
    <span>No more JavaScript ever again.</span>
    <span>100% clean.</span>
  </p>
  <p>
    <span>Version 1.0</span>
  </p>
</div><!-- footer -->--}}

		{{!--<div id="totalbase">
			<div id="animbase">
		<div id="base">
			<div id="baseshadow"></div>
			<div class="helitop">
				<div class="wingbase">
					<div class="col1"></div>
					<div class="col2"></div>
					<div class="col3"></div>
					<div class="col4"></div>
					<div class="wing1"></div>
					<div class="wing2"></div>
				</div>
			</div>
			<div class="helifront">
				<div class="tailbase">
					<div class="tail1">
						<div class="tail21"></div>
						<div class="tail22"></div>
						<div class="tail23"></div>
						<div class="tail24">
							<div class="tailwingbase">
								<div class="tail221"></div>
								<div class="tail222"></div>
								<div class="tail223"></div>
								<div class="tail224"></div>
								<div class="tailwing1"></div>
								<div class="tailwing2"></div>
							</div>
						</div>
					</div>
					<div class="tail25"></div>
					<div class="tail26"></div>
				</div>
			</div>
			<div class="heliback">
				<div class="front1"></div>
				<div class="front2"></div>
				<div class="front3"></div>
				<div class="front4"></div>
				<div class="front5"></div>
			</div>
			<div class="helileft"></div>
			<div class="heliright"></div>
			<div class="helibottom"></div>
		</div>
		</div>
		<div id="towerbase">
	
			<div class="tower1left"></div>
			<div class="tower1right"></div>
			<div class="tower2right">
				<div class="tower1window"></div>
			</div>
			<div class="tower1top">
				
				<div class="front1"><div class="col1"></div>
				<div class="col2"></div>
				<div class="col3"></div>
				<div class="col4"></div></div>
				<div class="front2"></div>
				<div class="front3"></div>
				
			</div>
			<div class="tower2top"></div>
			<div class="tower2left">
				<div class="tower2window"></div>
			</div>
		</div>
        --}}
  
		
		
    
		{{!--<div class="center text-center">
    <div class="projContainer">
  <div class="projInfoContainer">
    <a href="http://marquisparks.com/calculator">
    <h2>JavaScript Calculator</h2>
    </a>
    <p class="projCat"></p>
    <p class="projSpec text-center">This Project was Built with the Big 3 HTML, CSS, Javascript(including Jquery)<br />Be Sure to give it a try</p>
  </div>

  <img src="http://i64.tinypic.com/14l53cn.png" />
</div>

	<div class="center text-center">
    <div class="projContainer">
  <div class="projInfoContainer">
    <a href="http://marquisparks.com/calculator">
    <h2>JavaScript Calculator</h2>
    </a>
    <p class="projCat"></p>
    <p class="projSpec text-center">This Project was Built with the Big 3 HTML, CSS, Javascript(including Jquery)<br />Be Sure to give it a try</p>
  </div>

  <img src="http://i64.tinypic.com/14l53cn.png" />
</div> 


<div class="projContainer">
  <div class="projInfoContainer">
    <a href="http://marquisparks.com/simon">
    <h2>Simon Says</h2>
    </a>
    <p class="projCat"></p>
    <p class="projSpec text-center">This piece here was built was javascript as well as part of my requirements for FreeCodeCamps front end Development Certificate<br /></p>
  </div>
  <a href="http://marquisparks.com/simon">
  <img src="http://i68.tinypic.com/sgo0o7.png" />
  
  </a>
</div>
	</div>

	</div>
	
	

  
<div class="projContainer">
  <div class="projInfoContainer">
    <h2>Project Title</h2>
    <p class="projCat">Category</p>
    <p class="projSpec">Stuff about this project.<br />More stuff about it, too</p>
  </div>
  <img src="http://i64.tinypic.com/2vttuop.png" />
</div>

<div class="projContainer">
  <div class="projInfoContainer">
    <h2>Project Title</h2>
    <p class="projCat">Category</p>
    <p class="projSpec">Stuff about this project.<br />More stuff about it, too</p>
  </div>--}}
  
  {{!--<img src="http://www.terrancejrogers.com/sites/default/files/styles/project_thumb/public/projects/main-images/hunger-games-minimalistic_0.jpg?itok=Y6mhNwmN" />--}}



