<h1>series</h1>

<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'series.index' tagName="li"}}<a href="">List all</a>{{/link-to}}
    {{#link-to 'series.new' tagName="li"}}<a href="">Add new</a>{{/link-to}}
  </ul>
</div>

{{outlet}}